*.db
*.db.bak
*.gz
*.log
*.swp
.DS_Store
.csrf_key
pos-bin
pos-server
pos/abarrotes-pdv
pos/abarrotes-pdv.exe
pos/abarrotes.db
pos/pos
pos/pos.db
pos/pos.db.bak
pos/pos_server
pos/pos_server.exe
pos_server
pos_server.gz
thumbs.db
